<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Person {{ person.person_id }} details</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Person id: {{ person.person_id }}</h1>

    <p><strong>First name:</strong> {{ person.first_name }}</p>
    <p><strong>Middle name:</strong> {{ person.middle_name }}</p>
    <p><strong>Surname:</strong> {{ person.surname }}</p>
    <p><strong>Contact number:</strong> {{ person.contact_number }}</p>
    <p><strong>Date of birth:</strong> {{ person.date_of_birth }}</p>
    <p><strong>Sex:</strong> {{ person.sex }}</p>
    <p><strong>Address ID:</strong> {{ person.address_id }}</p>
  </body>
</html>